extends ./layout/index

block contenido
    table(class="table")
        thead
            tr
                th(scope="col") Referencia
                th(scope="col") Nombre
                th(scope="col") Precio
                th(scope="col") Cantidad
                th(scope="col") Descripcion
        tbody
            tr
                th(scope="row") GN-250
                td Guacamole Natural
                td 10000 COP
                td 50
                td Guacamole natural de 250 Gramos sin conservantes